

.container{
    height: 100vh;
}
.btn-primary {
  color: #fff;
  background-color: #18a4a2;
  border-color: #169795;
}

/** For Login ***/
.login_bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: bottom;
 background-color: #d1e3f5;
}

.login-box {margin: auto;
    width: 32%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 425px;
    }

.form-signin .input-group-addon, .input-group .input-group-addon { color:#9c9c9c}
.form-signin {border: 1px solid #d1d1d1;
  border-radius: 0;
  background: #FFF;
      padding: 1rem;}

/** table button edit & delete **/
 .btn-small { padding: 0 5px;}

/** Primary button ***/
.btn-primary {
    color: #fff;
    background-color: #18a4a2;
    border-color: #169795;
}

.help-block {
    color: red
}