<!DOCTYPE html>
<html lang="en">
<body>
<div id="login_bg" class="login_bg"></div>
<div class="container">
 
      <div class="login-box">
        <form class="form-signin well bordr" (ngSubmit)="isFromSubmitted=true; f.form.valid && login()" #f="ngForm" novalidate>
          <h3 class="text-center noTop"> <img src="" class="img-responsive"> </h3>
          <br>
          <div class="form-group" [ngClass]="{ 'has-error': (isFromSubmitted || username.touched) && !username.valid }">
            <div class="input-group">
              <input type="text" class="form-control" name="username"  placeholder="User Name (anything)" [(ngModel)]="user.username" #username="ngModel" required />
            </div>
            <div *ngIf="(isFromSubmitted || username.touched) && username.invalid " class="help-block">Username is required</div>
          </div>
          <div class="form-group" [ngClass]="{ 'has-error': isFromSubmitted && !password.valid }">
            <div class="input-group">
              <input type="password" class="form-control" name="password" placeholder="Password (anything)" [(ngModel)]="user.password" #password="ngModel" required />
            </div>
            <div *ngIf="isFromSubmitted && !password.valid" class="help-block">Password is required</div>
          </div>
          <button class="btn btn-primary pull-right" type="submit" [disabled]="loading">
            <i class="btn-small" aria-hidden="true"></i> LOGIN </button>
        </form>
      </div>

</div>
</body>
</html>
