<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login</title>
</head>
<body>
<div id="login_bg" class="login_bg"></div>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="login-box">
        <div class="logo text-center">
          <h1 class="text-center"> <img src="" width="250"><br>
            <br>
          </h1>
        </div>
        <form class="form-signin well bordr" (ngSubmit)="isFromSubmitted=true; f.form.valid && login()" #f="ngForm" novalidate>
          <h3 class="text-center noTop"> <img src="" class="img-responsive"> </h3>
          <br>
          <div class="form-group" [ngClass]="{ 'has-error': (isFromSubmitted || username.touched) && !username.valid }">
            <div class="input-group"> <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span> </span>
              <input type="text" class="form-control" name="username"  placeholder="User Name (anything)" [(ngModel)]="user.username" #username="ngModel" required />
            </div>
            <div *ngIf="(isFromSubmitted || username.touched) && username.invalid " class="help-block">Username is required</div>
          </div>
          <div class="form-group" [ngClass]="{ 'has-error': isFromSubmitted && !password.valid }">
            <div class="input-group"> <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
              <input type="password" class="form-control" name="password" placeholder="Password (anything)" [(ngModel)]="user.password" #password="ngModel" required />
            </div>
            <div *ngIf="isFromSubmitted && !password.valid" class="help-block">Password is required</div>
          </div>
          <button class="btn btn-primary pull-right" type="submit" [disabled]="loading">
            <i *ngIf="loading" class="fa fa-spin fa-spinner" aria-hidden="true"></i> LOGIN </button>
          <div class="clearfix"></div>

        <div *ngIf="errorMessage" class="text-danger">{{errorMessage}}</div>
        </form>
      </div>

    </div>
  </div>
</div>
</body>
</html>
