
body {
  margin-top: 60px;
  background-color:#f3f3f3;
  font-family: 'Source Sans Pro', sans-serif;
}

.btn-primary {
  color: #fff;
  background-color: #18a4a2;
  border-color: #169795;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:active:hover {
  background-color: #169795;
  border-color: #18a4a2;
}
/** For Login ***/
.login_bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  /*background-image: url('');*/
  background-position: bottom;
}

.login-box {margin-top: 8vh;}
.text-center img { margin:0 auto; }
.form-signin .input-group-addon, .input-group .input-group-addon { color:#9c9c9c}
.form-signin {border: 1px solid #d1d1d1;
  border-radius: 0;
  background: #FFF;}

/** table button edit & delete **/
td .btn-small { padding: 0 5px;}
#tabs_block .nav-tabs>li a { font-size:16px; color:#9e9e9e; }
#tabs_block .nav-tabs>li.active>a { background:none; border-width: 0 0 1px 0; border-color:#18a4a2; border-style:solid; color:#4a4a4a; }
.margin-right3{
  margin-right:3px;
}

.label-header {
    font-size: 17px;
    color: #116f6e;
}

.modal-custom-header {
    padding: 15px 15px 5px 15px;
    border-bottom: 1px solid #e5e5e5;
}

/*-----ownertext--------*/
.ownertext{float: left; line-height: 1px;}
.inputbox{margin: 0;}

/**    form  **/
.form-group.below {
    padding-top: 82px;
}
/** Primary button ***/
.btn-primary {
    color: #fff;
    background-color: #18a4a2;
    border-color: #169795;
}

.help-block {
    color: red
}