<div class="background">
<div class="header">
<div><strong >Employee Registration Form</strong></div>
</div>
  <div class="reg-btn">
      <button class="btn btn-primary" (click)="newEmployeeReg()">New Registration Form</button>
       <span class="txt-db">Employee Registration Dashboard</span> 
  </div>
</div>

<div>
  <table class="table table-striped tbl">
    <thead>
      <th width="20%">First Name</th>
      <th width="20%">Last Name</th> 
      <th width="10%">Gender</th>
      <th width="20%">Date Of Birth</th>
      <th width="10%">Department</th>
    </thead>
    <tr *ngFor="let employee of allEmployee">
       <td width="20%">{{employee.firstName}}</td>
       <td width="20%">{{employee.lastName}}</td>
       <td width="10%">{{employee.gender}}</td>
       <td width="20%">{{employee.dob | date: 'dd MMM yyyy'}}</td>
       <td width="10%">{{employee.department}}</td>
    </tr>
  </table>
  </div>  