.header{
    color: blue;
    background-color: lightblue;
    text-align: center;
    height: 50px;
}
.background{
    background-color: #f3f3f3
}
.reg-btn{
    margin-left: 10px;
    margin-top: 5px;
}
.txt-db{
    margin-left: 27%;
}
.tbl {
    margin-top: 5px;
    margin-left: 7px;
}